[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
django-cors = "*"
python-dotenv = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
django-jet = "*"
django-cors-headers = "*"
markdown = "*"

[requires]
python_version = "3.7"
